<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

{% if session.username %}
<p>Olet kirjautunut</p>
{{ info }}<br>
{% for flight in flights %}
Päivä: {{ flight[0] }} <br>
Kesto: {{ flight[1] }} <br>
Lähtöpaikka: {{ flight[2] }} <br>
Laskupaikka: {{ flight[3] }} <br>
Korkeusero: {{ flight[4] }} <br>
Matka: {{ flight[5] }} <br>
Maksimi korkeus: {{ flight[6] }} <br>
Maksimi pudotus: {{ flight[7] }} <br>
Maksimi nousu: {{ flight[8] }} <br>
Sää: {{ flight[9] }} <br>
Muistiinpanot: {{ flight[10] }} <br>
<hr>
{% endfor %}
<a href="/newflight">Lisää lento</a><br>
<a href="/removeflight">Poista lento</a><br>
<a href="/allflights">Kaikki omat lennot</a><br>
<a href="/othersflights">Muiden jakamia lentoja</a><br>
<a href="/maintenance">Huoltonäkymä</a><br>
<a href="/userinfo">Käyttäjätiedot</a><br>
<a href="/logout">Kirjaudu ulos</a>
{% else %}


<body>
    <div class="header1">
        <h2>Tervetuloa lentopäiväkirjaan!</h2>
    </div>
<form action="/login" method="POST">
    <label for="username">Tunnus:</label>
    <input type="text" name="username"><br>
    <label for="password">Salasana:</label> 
    <input type="password" name="password"> <br>
    <input type="submit" value="Kirjaudu">
</form>
<br>
<nav>
    <li><a href="/newuser">Rekisteröidy</a></li>
</nav>
</body>
{% endif %}
