<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

<div class=header2>
    Poista lento
</div>
<form action="/removeflightaction" method="POST">
    <label for="date">Päivä jolta haluat poistaa lennon:</label>
    <input type="date" name="date"> <br>
    <label for="time">Aika jolta haluat poistaa lennon:</label>
    <input type="time" name="time"> <br>
    <input type="hidden" name="csrf_token" values="{{ session.csrf_token }}">
    <input id=button type="submit" value="Lähetä"><br>
</form>
<nav>
    <li><a href="/">Takaisin pääsivulle</a></li><br>
</nav>